.button-b{
    background-color: #62B6B7;
    color:#fff;
    border-radius: 20px;
    outline: none;
    border: 2px solid #4CA1AF;

    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
    margin-left: 10px;
}
.button-a{
  background-color: #62B6B7;
  color:#fff;
  border-radius: 20px;
  outline: none;
  border: 2px solid #4CA1AF;

  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
  margin-left: -4px;
}
.button-a:hover,
.button-b:hover{
    background-color: #439A97;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateX(5px) translateY(-5px);
}