{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!--testing html-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <title>Home:DriveOn</title>
    <link rel="icon" href="{% static 'assets/dobg.jpg' %}">
    <meta name="description" content="" />

    <link rel="stylesheet" href="{% static 'assets/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ropa Sans:ital,wght@0,400;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap"
    />
    <link rel="stylesheet" href="{% static 'assets/css/sidebar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  </head>
  <body>

    <div id="preloader">

    </div>

    <section class="homepage-section" id="homepage">
      <div class="upper-div" id="upper-home"></div>
      <div class="youve-come-to-the-right-place">
        You’ve come to the right place. Book cars on demand by the hour or day.
        Join instantly, drive in minutes.
      </div>
      <h1 class="hometop-text" id="hometop-heading">
        <p class="hometop-head">Looking for a car?</p>
      </h1>

      <img class="image-icon" alt="image" src="{% static 'assets/landing icon.png' %}" />


      <h2 class="how-driveon-works" id="bottomheader">How DriveON Works</h2>
      <img class="log-in-icon" alt="" src="{% static 'assets/phone.png' %}" />
      <h2 class="home-bottom1" id="home-bottom">
        Apply online with a valid driver's license. Most people are approved
        instantly and can book a trip within minutes.
      </h2>
      <img class="ellipse-icon" alt="" src="{% static 'assets/wheel.png' %}" />
      <h3 class="home-bottom2" id="home-bottom2">
        Book a round trip car by the hour or day.
      </h3>
      <img class="ellipse-icon1" alt="" src="{% static 'assets/drop.png' %}" />
      <h3 class="home-bottom3" id="home-bottom3">
        When you're done, park the car in the same location you picked it up
        from, then end the trip.
      </h3>
    </section>

    <!-- preloader script -->
  <script>
    var loader=document.getElementById("preloader");
    window.addEventListener("load",function(){
      loader.style.display="none";

    });
  </script>


  </body>
</html>
{% endblock %}