<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        	#preloader{
    		background:transparent url({% static 'assets/preloader2.gif' %}) no-repeat center;
   			 background-size: 20%;
    		height: 100vh;
   			 width:100%;
    		position:fixed;
   			 z-index: 100;
  }
    </style>
</head>
<body>
<div id="preloader">

    </div>
<script>
		var loader=document.getElementById("preloader");
		window.addEventListener("load",function(){
		  loader.style.display="none";

		});
	  </script>

</body>
</html>