<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sider Menu Bar CSS</title>
    <link rel="stylesheet" href="sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="bx bx-menu" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
    <ul>
     <li><a href="#">Rent Car</a></li>
     <li><a href="#">Buy Car</a></li>
     <li><a href="#">Hire Driver</a></li>
     <li><a href="#">Log Out</a></li>
    </ul>
   </div>
   <section></section>
  </body>
</html>