{% extends 'base.html' %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block content %}



<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Profile</title>
        <link rel="icon" href="{% static 'assets/dobg.jpg' %}">
        <link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">
        <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js' rel='stylesheet'>
        <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js' rel='stylesheet'>


      </head>
<body>
  <div id="particles-js"></div>
  <script type="text/javascript" src="{% static 'assets/js/particles.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/app.js' %}"></script>
  <div id="preloader"> </div>

<div class="container" >

    <div class="main-body">

          <div class="row gutters-sm">
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{pro_info.image.url}}" alt="{{user_id.username}}.jpg" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{user_id.username}}</h4>
                    </div>
                    <div class="col-sm-12">
                      <a class="btn btn-info "  href="{% url 'change-password' %}">Update Password</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">First Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user_id.first_name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Last Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user_id.last_name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user_id.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{pro_info.phone_num}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Credit Card No.</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{pro_info.credit_card_num}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address:</h6>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Street Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{pro_info.address}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">City</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{pro_info.city}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Zip Code</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{pro_info.zip_code}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info "  href="{% url 'edit-profile' %}">Edit</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>

    <script>
		var loader=document.getElementById("preloader");
		window.addEventListener("load",function(){
		  loader.style.display="none";

		});
	  </script>
</body>
</html>

{% endblock %}